@media screen and (max-width: 500px) {
    .historic {
        opacity: 1;
    }
    img.imgBrand{
        width: 3em;
    }
    section{
        position: relative;
        width: 100%;
        height: 50em;
        top: 4em;
        margin-bottom: 7em;
        display: flex;
        flex-direction: column;
    }
    img {
        width:100%;
    }
    .singleDivDesign{
        position: relative;
        width: 100%;
       
        display: flex;
        flex-direction: column;
        
    }
    footer{
        position: fixed;
        
        bottom: 0;
        width: 100%;
        background-color: rgb(53, 52, 53);
        color: white;
    }  
}